@media screen and (max-width: 768px) {
  * {
    margin:0;
    padding: 0;
    list-style-type:none;
    box-sizing: border-box;
}
  #content {
    overflow-x: hidden;
}

.body {
    display: block;
    overflow-x: hidden;
}

  html {
    font-size: 17px; 
}

h1, h2, h3, h4,p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-top: 30px;
  padding: 20px 57px 17px 20px;
}
h2 {
  font-size: 22px;
  margin: 15px 0;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
}
h4 {
  font-size: 18px;
  line-height: 21px;
  padding: 10px 0px 10px 26px
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;  
  margin-bottom: 6px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {   
  color: #000;
}

header {
  /* position: static;
    width: auto;
    z-index: 200; */
}
img {
  max-width: 100%;
  height: auto
}

  
header div {
    display: flex;
    align-items: center;
}

header img {
  width: 61px;
  height: 19px;
  margin: 21px;
}
header nav {
  /* width: 100%; */
  margin: 27px 10px 0 0px;
}
header nav ul {
  display: flex;
  flex-direction: row;
}

header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0px 60px 23px 60px;
}

header a:hover {

    font-weight: 500;
    /* width: 100%; */
    color: #0065FC;
    padding: 0px 60px 23px 60px;
    border-bottom: 3px solid #0065FC;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    /* inline-size: 100%; */
    border-top: 1px solid #fff;
}


form {
  position: relative;
  display: flex;
  margin-left: 22px;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 100px;
  background: #F2F2F2;
  font-size: 16px;
  height: 49px;
  margin-top: 20px;
}
label {
  display: none;
}
input[type=search] {

  border: 1px solid #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 13px 0px 13px 0px;
}
input[type=submit] {
  display: none;
  border: none;
  background: #0065FC;
  color: #fff;
  padding: 12px 35px;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
}
header button {
  position: relative;
  margin: 10px 0px 0 0;
  border: 1px solid #fff;
}
header p {
  font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 17px 22px 17px 55px;
}
header section p {
  ont-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 0 22px 0 20px;
}

/* class */

.lign-hor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.locat::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f3c5";
  font-weight: 900;
  color: #000; 
  margin: 20px;
  position: relative;
  top: -5px;
  font: var(--fa-font-solid)
}
.info::before {
  font-family: "Font Awesome 5 Brands";
  font: var(--fa-font-solid);
  content: "\f129";
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 10px;
  color: #0065FC;
  position: relative;
  padding: 5px;
  bottom: 3px;
  margin-right: 11px;
  margin-left: 9px;
}
.econimic::before {
  font-family: "Font Awesome 5 Brands";
  font: var(--fa-font-solid);
  content: "\f53a";
  width: 22px;
  height: 16px;
  color:#0065FC;
  font-weight: 900;
  position: relative;
}
.family::before {
  font-family: "Font Awesome 5 Brands";content: "\f183";color: #0065FC;
  font-weight: 900;
  width: 13px;
  height: 22px;
  font: var(--fa-font-solid);
  position: relative;
} 
.romantic::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f004";
  color: #0065FC;
  width: 22px;
  height: 18px;
  font: var(--fa-font-solid);
  position: relative;
}
.animal::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f6d3";
  color:#0065FC;
  font: var(--fa-font-solid);
  position: relative;
  width: 22px;
  height: 22px;
}
.star::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f005";
  color:#0065FC;
  font: var(--fa-font-solid);
  position: relative;
}
.star-grey::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f005";
  color:#F2F2F2;
  font: var(--fa-font-solid);
  position: relative;

}
.vector::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f201";
  color:#0065FC;
  font: var(--fa-font-solid);
  position: relative;
  margin-left: 100px;

}    
.recherche::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f002";
  color: #fff;
  font: var(--fa-font-solid);
  position: relative;
  font-size: 24px;
  padding: 12px 20px 11px 20px;
  background: #0065FC;
  border: 2px solid #fff;
  border-radius: 0 15px 15px 0;
}  
.lign-wrap {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.align-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  left: 15px;
  width: 169px; 
}
.align-vert-1 {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 15px;
  width: 100%;
  height: 100%;
}
.box-shadow {
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
  -webkit-box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
  -moz-box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 67%);
}

/* structure */
#filter {
  display: none;
}

#filter-2 h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 34px 0 15px 20px;
}
#filter-2 div {
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
#filter-2 ul {
  display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 0 17px 10px;
  
}

#filter-2 li {
  border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: 160px;
    margin: 0px 0px 0 14px;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    height: 50px;
}
#filter-2 li:hover{
  background: #deebff;
  cursor: pointer;
}

#hosting {
  
  position: relative;
  order: 1;
  width: 100%;
  height: 100%;
  background: #fff;
  margin-bottom: 100px;

}
#hosting h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 26px 75px 19px 20px;
}
#hosting h4 {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

}
#hosting article {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 20px;  
  margin-bottom: 20px;
  width: 335px;
  height: 199px;
}
#hosting img {
  border: 5px solid #fff;
  border-radius: 20px 20px 0 0;
  width: 246px;

  object-fit: cover;
  width: 345px;
  height: 124px;
}
#popular {
  position: relative;
  order: 0;
  width: 100%;
  height: 100%;
  background: #F2F2F2;

  border: 1px #FFF solid;

}

#popular h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 28px 15px 20px 20px;
}
#popular article {
  background: #fff;
  border: 1px solid #fff;
  margin: 0px 0px 25px 5px;
  border-radius: 20px;
  width: 334px;
  height: 157px;
  padding: 5px;
}
#popular a {
  display: flex;
  flex-direction: row;
}
#popular img {
  position: relative;
  border-radius: 20px 0 0 20px;
  width: 137px;
  height: 144px;
  object-fit: cover;
}
#activities {
  position: relative;
  order: 2;
  position: relative;
  width: 100%;
  margin-left: 50px;
}
#activities div {
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
}
#activities h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 15px 20px;
  PADDING: 0 168px 0 0;
}

#activities article {
  margin-right: 32px;
  margin-bottom: 68px;
  width: 334px;
  height: 190px;
}

#activities article div {
  border-radius: 20px;
  object-fit: cover; 
}
#activities article img {
  border-radius: 20px 20px 0 0;
  width: 334px;
  height: 190px;
  object-fit: cover;
}

#propos {
  position: relative;
  padding: 0 0 0 30px;
  background:#F2F2F2;
}
#propos h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  margin-top: 44px;
}
#propos nav {
  justify-content: space-around;

}
#propos li {
  position: relative;
  margin-bottom: 12px;
}
#propos li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 19px;
}
#propos li a:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer; 
  color: #0065FC;
}




  }